* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    --title-color: #34355B;
    --text-color: rgba(52, 53, 91, 0.80);
    --button-bg: #7879F1;
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    --input-bg: #DCE2E9;
}

body {
    font-size: 1.6rem;
    background: var(--main-bg);
}

.container {
    width: 100%;
    height: 100vh;
    background: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: #FFF;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    width: min(42.8rem, 90%);
}

.guess-container h1 {
    color: var(--title-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}

.guess-container p {
    color: var(--text-color);
    margin-top: 1.6rem;
    opacity: .8;
}

.guessing-action {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

.guessing-action input {
    border: none;
    border-radius: 4px 0px 0px 4px;
    padding: 1.6rem;
    background: var(--input-bg);
    width: 5rem;
    text-align: center;
}

.guessing-action input::-webkit-outer-spin-button,
.guessing-action input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.guessing-action input[type=number] {
    -moz-appearance: textfield;
  }

.guessing-action button {
    padding: 1.6rem;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background: var(--button-bg);
    color: #FFF;
    font-weight: 700;
    width: 8.2rem;
    transition: .2s ease-in;
}

.guessing-action button:hover, .result-container button:hover {
    cursor: pointer;
    background-color: var(--title-color);
}

.result-container h2 {
    font-weight: 400;
    color: var(--title-color);
    font-size: 2.4rem;
}

.result-container button {
    padding: 1.6rem;
    border: none;
    border-radius: .4rem;
    background-color: var(--button-bg);
    color: #FFF;
    font-weight: 700;
    margin-top: 3.4rem;
    transition: .2s ease-in;
}

.hide {
    display: none;
}

